@using StatelessHosting.Models

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 center-block">
        <h1>It appears your DNS Provider is : @ViewBag.provider </h1>

        <a class="btn btn-success" target="_blank" href="@ViewBag.url">Connect Domain</a>
        <a class="btn btn-success" target="_blank" href="@ViewBag.urlasync">Connect Domain Async</a>
        
    </div>
    <div class="col-md-2"></div>
</div>
